<h1>Listing frames</h1>

<table>
  <thead>
    <tr>
      <th>First stroke</th>
      <th>Second stroke</th>
      <th>Extra stroke</th>
      <th>Frame score</th>
      <th>Frame number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frames.each do |frame| %>
      <tr>
        <td><%= frame.first_stroke %></td>
        <td><%= frame.second_stroke %></td>
        <td><%= frame.extra_stroke %></td>
        <td><%= frame.frame_score %></td>
        <td><%= frame.frame_number %></td>
        <td><%= link_to 'Show', frame %></td>
        <td><%= link_to 'Edit', edit_frame_path(frame) %></td>
        <td><%= link_to 'Destroy', frame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frame', new_frame_path %>
