<p>
  <%= link_to 'New Game', games_path, :method => :post, class: "btn btn-default" %>
</p>

<h1>Games</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Current frame</th>
      <th>Frame stroke</th>
      <th>Total score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= if game.frame_stroke == -1
                  "Game Over"
                else
                  game.current_frame
                end %></td>
        <td><%= if game.frame_stroke == -1
                  "-"
                else
                  game.frame_stroke
                end %></td>
        <td><%= game.total_score %></td>
        <td><%= if game.frame_stroke == -1
                  link_to 'View', game
                else
                  link_to 'Play', game
                end %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>